<h1 class="font-bold">Course Listing</h1>
<br>
  <% @courses.each do |course| %>
    <ul class="list-none">
    <li>Code: <%= course.short_name %></li> 
    <li>Name: <%= course.name %></li> 
    <li>Description: <%= course.description %></li>
  </ul><br>
  <% end %>
</ul>