<h1>Home page</h1>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>


<h2>Unordered list with Tailwind</h2>
<ul class="list-disc list-inside">
  <li>One1</li>
  <li>Two2</li>
  <li>Three3</li>
</ul>