<h1 class="font-bold">Course Listing</h1>
<br>
  <ul class="list-none">
    <li>Code: CS11</li> 
    <li>Name: Intro to Computer</li> 
    <li>Description: Intro to Computer and Intro to Computer</li>
  </ul><br>
  <ul class="list-none">
    <li>Code: CS12</li> 
    <li>Name: Intro to Computer 2</li> 
    <li>Description: Intro to Computer 2 and Intro to Computer 2</li>
  </ul>
</ul>