<footer class="flex items-center justify-between flex-wrap bg-teal-500 p-6 fixed inset-x-0 bottom-0">
  <span class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 mr-4">© <%= Date.today.year %> UNIV</a>. All Rights Reserved.
  </span>
</footer>